.top-container {
    position: relative;
    padding-top: 100px;
    background: linear-gradient(300deg, #A447F0, #6D48F0, #F048B1,#2602F5,#F52F3C,#7502F5);
    background-size: 180% 180%;
    animation: gradient-animation 7s ease infinite;

}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

#top-heart {
    position: relative;
    width: 100px;
    height: 90px;
    margin-top: 10px;
    margin-left: 100px;
  }
  
  #top-heart::before, #top-heart::after {
    content: "";
    position: absolute;
    top: 0;
    width: 52px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    background: #F0B0E8;
  }
  
  #top-heart::before {
    left: 50px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  
  #top-heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }

.body{
  text-align: center;
}



h1{
    color: white;
    font-size: 5rem;
    font-family: "Caveat",serif;
    text-align: center;
}

.title-text > h2 {
    color: white;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.title-text{
    padding-bottom: 100px;
}

.profile > img {
    border-radius: 50%;
    height: 180px;
    margin-top: 50px;
}

.profile{
    text-align: center;
    background-color:#EBDAF2;
}

.profile > h2 {
    color: #A447F0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    text-align: center;
}

.intro {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    width: 30%;
    margin: auto;
    text-align:left;
}

.resume {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  width: 30%;
  margin: auto;
}

p{
    display: block;
}

.middle-container {
  margin: 100px 0;
  background-color: #EBDAF2;
}

hr {
  margin: 100px auto;
  border: white;
}

.skills > h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #A447F0;
}

.parent{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  width: 50%;
  margin: 100px auto 0 auto;
  row-gap: 2rem;
  column-gap: 2rem;
  text-align: left;

}
.coding > img{
  overflow-clip-margin: content-box;
  height: 50%;
  width: 100%;
}

.web-dev > h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #7502F5;
}

.web-dev > p {
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
}

.cat-img > img {
  overflow-clip-margin: content-box;
  height: 100%;
  width: 100%;
}

.hyperfix > h3{
  margin: 0;
  font-size: 1.5rem;
  color: #7502F5;
}

.hyperfix > p {
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
}

.contact > h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #A447F0;
}

.contact-detail{
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.btn{
  border-radius: 8px;
  background-color:#A447F0 ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.contact {
  text-align: center;
}

.bottom-container {
  background-color: #A447F0;
  padding: 50px 0 20px;
}

.footer {
  align-items: center;
  text-align: center;
}

.footer-link{
  color:#F0B0E8;
  font-size: 1rem;
  margin: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.copyright{
  padding: 20px 0px;
  font-size: 1rem;
}

@media (max-width:318px){
  #top-heart {
    position: relative;
    width: 100px;
    height: 90px;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  h1{
    font-size: 2.5rem;
  }

  .title-text > h2 {
    font-size: 1.5rem;
  }

  .profile > img {
    border-radius: 50%;
    height: 180px;
    margin-top: 50px;
  }

  .profile > h2 {
    font-size: 1.5rem;
  }

  .intro {
    font-size: 1rem;
  }

  .resume {
    font-size: 1rem;
  }

  .skills > h2{
    font-size: 1.5rem;
  }

  .parent{
    display: block;
  }

  .coding > img {
    height: 50%;
    width:100%;
  }


  .web-dev > h3{
    font-size: 1.5rem;
    margin: 10px;
  }

  .web-dev > p{
    font-size: 1rem;
  }

  .hyperfix > h3 {
    font-size: 1.5rem;
    margin: 10px;
  }

  .hyperfix > p {
    font-size: 1rem;
  }

  .contact > h2 {
    font-size: 1.5rem;
  }

  .contact-detail {
    font-size: 1rem;
  }

  .btn{
    font-size: 12px;
  }
}


@media (min-width:319px) and (max-width:480px){
  h1{
    font-size: 2rem;
  }

  .title-text > h2 {
    font-size: 1rem;
  }

  .profile > img {
    border-radius: 50%;
    height: 90px;
    margin-top: 20px;
  }

  .profile > h2 {
    font-size: 1.75rem;
  }

  .intro {
    font-size: 1rem;
  }

  .resume {
    font-size: 1rem;
  }

  .skills > h2{
    font-size: 1.75rem;
  }

  .parent{
    display: block;
  }

  .coding > img {
    height: 200px;
    width:200px;
  }

  .cat-img > img {
    height: 100px;
    width: 100px;
  }

  .web-dev > h3{
    font-size: 1.5rem;
    margin: 10px;
  }

  .web-dev > p{
    font-size: 1rem;
  }

  .hyperfix > h3 {
    font-size: 1.5rem;
    margin: 10px;
  }

  .hyperfix > p {
    font-size: 1rem;
  }

  .contact > h2 {
    font-size: 1.5rem;
  }

  .contact-detail {
    font-size: 1rem;
  }

  .btn{
    font-size: 12px;
  }
}


@media (min-width:481px) and (max-width:1200px){
  h1{
    font-size: 2rem;
  }

  .title-text > h2 {
    font-size: 1rem;
  }

  .profile > img {
    border-radius: 50%;
    height: 90px;
    margin-top: 20px;
  }

  .profile > h2 {
    font-size: 1.75rem;
  }

  .intro {
    font-size: 1rem;
  }

  .resume {
    font-size: 1rem;
  }

  .skills > h2{
    font-size: 1.75rem;
  }

  .parent{
    display: block;
  }

  .coding > img {
    height: 25%;
    width:50%;
  }

  .cat-img > img {
    height: 25%;
    width: 50%;
  }

  .web-dev > h3{
    font-size: 1.5rem;
    margin: 10px;
  }

  .web-dev > p{
    font-size: 1rem;
  }

  .hyperfix > h3 {
    font-size: 1.5rem;
    margin: 10px;
  }

  .hyperfix > p {
    font-size: 1rem;
  }

  .contact > h2 {
    font-size: 1.5rem;
  }

  .contact-detail {
    font-size: 1rem;
  }

  .btn{
    font-size: 12px;
  }
}

@media (min-width:1201px) and (max-width:1600px){
  h1{
    font-size: 5rem;
  }

  .title-text > h2 {
    font-size: 2.5rem;
  }

  .profile > img {
    border-radius: 50%;
    height: 180px;
    margin-top: 50px;
  }

  .profile > h2 {
    font-size: 2.5rem;
  }

  .intro {
    font-size: 1.5rem;
  }

  .resume {
    font-size: 1.5rem;
  }

  .skills > h2{
    font-size: 2.5rem;
  }

  .parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    row-gap: 2rem;
    column-gap: 2rem;
    text-align: left;
  }

  .coding > img {
    height: 50%;
    width:100%;
  }


  .web-dev > h3{
    font-size: 1.5rem;
    margin: 10px;
  }

  .web-dev > p{
    font-size: 1.5rem;
  }

  .hyperfix > h3 {
    font-size: 1.5rem;
    margin: 10px;
  }

  .hyperfix > p {
    font-size: 1.5rem;
  }

  .contact > h2 {
    font-size: 1.5rem;
  }

  .contact-detail {
    font-size: 1.5rem;
  }

  .btn{
    font-size: 20px;
  }
}

@media (min-width:1601px) {
  h1{
    font-size: 5rem;
  }

  .title-text > h2 {
    font-size: 2.5rem;
  }

  .profile > img {
    border-radius: 50%;
    height: 180px;
    margin-top: 50px;
  }

  .profile > h2 {
    font-size: 2.5rem;
  }

  .intro {
    font-size: 1.5rem;
  }

  .resume {
    font-size: 1.5rem;
  }

  .skills > h2{
    font-size: 2.5rem;
  }

  .parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    row-gap: 2rem;
    column-gap: 2rem;
    text-align: left;
  }

  .coding > img {
    height: 50%;
    width:100%;
  }


  .web-dev > h3{
    font-size: 1.5rem;
    margin: 10px;
  }

  .web-dev > p{
    font-size: 1.5rem;
  }

  .hyperfix > h3 {
    font-size: 1.5rem;
    margin: 10px;
  }

  .hyperfix > p {
    font-size: 1.5rem;
  }

  .contact > h2 {
    font-size: 1.5rem;
  }

  .contact-detail {
    font-size: 1.5rem;
  }

  .btn{
    font-size: 20px;
  }
}